    <header>
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a href="#">
                    <img src="/image.png" alt="See something say something img" width="50">
                </a>
            </div>
            <div id="navbarBasicExample" class="navbar-menu">
                <div class="navbar-start">
                    <a href="/localdata" class="navbar-item">
                        View Local Data
                    </a>
                    <div class="navbar-item has-dropdown is-hoverable">
                    </div>
                </div>
            </div>
                <h1 class="title">
                    See Something - Say Something
                </h1>
            </nav>
        </header>
        <br>
        <br>
        <div class="col-md-8">
            <div class="container6">
                <div class="row">
                    <div class="col-md-4">
                        <p>Category: {{category}}</p>
                        <p>Date: </p>
                        <p>Street Address: </p>
                        <p>City: </p>
                        <p>State: </p>
                        <p>ZIP: </p>
                    </div>
                    <div class="col-md-8">
							<p></p>
							<p>{{date}}</p>
							<p>{{streetAddress}}</p>
							<p>{{city}}</p>
							<p>{{state}}</p>
							<p>{{zip}}</p>
                    </div>
                </div>
                <br>
                <p>Description: {{description}}</p>

            </div>
            <br>
            <br>
        </div>
    </div>
    </div>
